/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
 
/* MENÚ */
#menu a{
    font-size:18px;
    font-weight:bold;
    color: #8771D3
}

#menu button {
    font-size:18px;
    font-weight:bold;
}

/*===============Slider de imágenes================*/
.fisrt-image{
    max-height: 39rem
}
.carousel-inner {
    max-height: 39rem 
}

/*===============pantalla tamaño medio================*/
@media (max-width:768px){
    #intro{
        width:10% !important;
    }
}

@media(max-width:1200px){
    #local{
        flex-wrap:wrap;
        padding-top:20px;
    }

    .wrapper-local {
        width:100%;
        margin:auto;
        padding-top:50px;
    }
}

/*===============mapa================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 200px; 
}

.mapa {

    width:100%;
    height: auto;

}


.wrapper-local {
    width:100%;
    margin-left:auto;
    padding-top:150px;
}



#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 100px 0 0;   
    text-align:left;
    height:50px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}
